extends layout

block content
	h1= title
	p Welcome :)

	p
		| Use 
		code /info/path/to/page
		| &nbsp;to see analytics info for that page.

	p Examples:
	ul
		li: a(href='/info/insights') /info/insights
		li: a(href='/info/employee-experiences') /info/employee-experiences
		li: a(href='/info/employee-portals') /info/employee-portals
		li: a(href='/info/records-management') /info/records-management
		li: a(href='/info/customer-portals') /info/customer-portals
		li: a(href='/info/community-portals') /info/community-portals
		