extends layout

block content
	.row
		.col-xs-12
			h1
				= title
				br
				small Page usage information

	.row
		each metric in metrics
			.col-xs-12.col-sm-6.metric
				strong.metric__value= metric.value
				h4.metric__name #{metric.title}
				small (#{metric.period})


block head
	meta(name="dashdash:layout" content="info")